<!DOCTYPE html>
<html>
  <head>
    <title>Matthieuperraut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_pack_path('media/shared/static/favicon.png') %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= c 'navbar', page: params[:action]  %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= c 'footer' %>
  </body>
</html>
